body {
    color: #0afce5;
    text-align: center;
    font-family: 'Montserrat', Verdana, sans-serif;
    margin: 0 0 0 0;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;    
}
body:hover {
    color: #0afce5;
}
h1 {
    color: #c3fcf2;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
dt,dd {
    font-family: 'Roboto Slab', Verdana, sans-serif; 
}
dd {
    text-align: justify;
}
li {
    font-family: 'Roboto Slab', Verdana, sans-serif;
}

a {
    font-family: 'Roboto Slab', Verdana, sans-serif;
    text-decoration: none;
    color: #c3fcf2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover {
    color: #0afce5;
}
h2 {
    font-size: 2.6em;
    color: #c3fcf2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#h4_for_index_form {
    background-color: rgb(213,0,249);
    color: #3f4a3c;
    text-align: center;
    margin-top: 0;
    padding: 5px;
}
h3 {
    color: #00e6ff;
    text-align: center;
}
h4 {
    color: #c3fcf2;
}
#contacts {
    text-align: center;
    height: 50px;
}
#contacts a {
    font-size: 1em;
}
#contacts h1 {
    font-size: 50px;
    color: white;
}
strong {
    font-size: 50px;
}
footer {   
    font-family: 'Roboto Slab', Verdana, sans-serif;
    margin-top: 0px;
    font-size: 12px;
    color: #402E32;
    text-align: center;
    background-color: #f9f871;
    padding-bottom: 30px;
    padding-top: 30px;
}
#photos_montage {
    background-color: #f9f871;
}
i {
    color: #1569c7;
}
.single_brick {
    display: flex;
    align-items: center;
    color: #c3fcf2;
}
.single_brick:hover {
    color: #0afce5;
}
.double_brick {
    color: #c3fcf2;
}
.double_brick:hover {
    color: #0afce5;
}
p {
    font-family: 'Roboto Slab', Verdana, sans-serif;
    color: white;
    text-align: justify;
    font-size: 35px;
}
.brick_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pad2 {
    padding: 0 50px;
}
.pad3 {
    padding: 0 100px;
}
.pad4 {
    justify-content: center;
}
.double_brick {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    padding: 5px;
    margin: 20px 0;
    font-size: 18px;
}
.double_brick a {
    padding: 0 10px;
}
.single_brick {
    width: 220px;
    padding: 5px;
    margin: 20px 0;
    font-size: 18px;
}
.double_brick img,
.single_brick img {
    width: 50px;
    height: auto;
}
#contacts_for_smartphone {
    display: none;
    text-align: center;
}
#contacts h3 {
    margin-bottom: 5px;
}
.options {
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 15px;
}
#sendbutton {
    font-family: 'Montserrat', Verdana, sans-serif;
    display: inline-block;
    color: #402832;
    font-size: 14px;
    /*font-size: 100%;*/
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: 0.25em 0.5em;
    outline: none;
    border: 1px solid rgb(213,0,249);
    border-radius: 7px;
    background: rgb(213,0,249);
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.input-style {
    font-family: 'Roboto Slab', Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    border: 1px solid #8602c2;
    background-color: white;
    color:grey;
    text-align: center;
    outline: none;
    padding: 10px 0;
}
.no-padding {
    padding:0;
}

a.button10:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0),
    inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0.5);
}
a.button10:active {
    padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
    border-color: #8602c2;
}
.request {
    text-align: center;
}
textarea {
    font-family: 'Roboto Slab', Verdana, sans-serif;
    text-align: center;
    opacity: 1;
    height: 200px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
    font-size: 14px;
    /*font-family: "Times New Roman";*/
    border-color: #8602c2;
    background-color: white;
    color: #ffffff;
}
textarea,
select {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}
select {
    width: 170px;
    margin-bottom: 15px;
}
#radio {
    width: 50%;
    height: 50%;
}
input {
    font-family: 'Roboto Slab', Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

input,
textarea {
    border: none;
}
label,
.label_with_options {
    font-family: 'Montserrat', Verdana, sans-serif;
    text-decoration: underline;
    font-size: 14px;
}
input:focus {
    outline: none;
}
label {
    display: block;
    padding: 5px 0;
}
article {
    padding: 10px;
}
.container_main {
    max-width: 1224px;
    margin: 0 auto;
    /* color: white; */
}
.pad2 {
    padding: 0 50px;
}
.pad3 {
    padding: 0 100px;
}
.pad4 {
    justify-content: center;
}
.round {
    border-radius: 100px; 
    box-shadow: 0 0 0 3px #8602c2, 0 0 13px #333; 
}
.container_1 {0 
    font-size: 30px;
    text-align: center;
}
.container_1 > div {
    border: 1px solid grey;
    height: 25%;
}
* {
    box-sizing: border-box;
}
/* Create four equal columns that floats next to each other*/
.column_1 {
    float: left;
    width: 25%;
    padding: 20px;
}
.column_1 h5{
     vertical-align: top;   
}
.column_1 p{
     text-align: justify;
    vertical-align: bottom;   
}
/* Clear floats after the columns*/
.row_1:after {
    content: "";
    display: table;
    clear: both;
}
.options {
    display: flex;
    justify-content: center;
}
.options > div {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.options input {
    width: auto;
    margin: 0;
    margin-right: 10px;
}
.options label {
    text-decoration: none;
}
.options label:hover {
    color: white;
    cursor: pointer;
}
.label_with_options {
    margin: 0;
}
section {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
article {
    border: 0.5px solid white;
    flex-basis: 100%;
}
#montage {
    background-color: #c3fcf2;
}
#key_in_hand {
    background-color: #b6ffcd;
}
#request_form {
    background-color: #c3ffb0;
}
#photos {
    background-color: #dbff90;
}
article div {
    color: #402e32;
}
article p {
    /* font-size: 1.4em; */
    font-size: 18px;
}
article p {
    color: #402e32;
}
article h3 {
    color: #402e32;
    font-size: 2.5em;
}
article h4 {
    font-size: 2.1em;
    text-align: center;
    color: #402e32;
}
article h5 {
    font-size: 1.7em;
}
article dt {
    text-align: left;
    font-size: 1.4em;
}
article dd {
    text-align: justify;
    /* font-size: 1.4em; */
    font-size: 18px;
    margin-bottom: 20px;
}
article img{
    text-align: center;
}
#big_icon {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
* {
    box-sizing: border-box;
}
.row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
  float: left;
  width: 25%;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}   
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
img {
    margin-bottom: -4px;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero {
    background-image: url("../../images/photo222.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.hero h1 {
    padding: 100px 30px 40px 30px;
    margin: 0;
}
.hero .contacts h2 {
    margin: 0 0 15px;
}
.hero .contacts .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .contacts .item:first-of-type {
    margin-bottom: 10px;
}
.hero .contacts .item i {
    margin-right: 10px;
}
.hero .single_brick {
    justify-content: center;
}
.hero .single_brick a {
    padding: 0 10px;
}
.hero .mobile-content {
    display: none;
}
/* //slider*/
#photos .row .column .image-test,
#photos_montage .row .column .image-test {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 0;
    padding-bottom: 70%;
}
#photos .mySlides img,
#photos_montage .mySlides img {
    width: auto !important;
    max-height: 600px;
    height: 100%;
}
#photos .mySlides,
#photos_montage .mySlides {
    background: black;
}
#photos .prev,
#photos_montage .prev {
    left: 0;
}
/* up to 768px inclusive phones*/
@media (max-width: 768px) {
    body {
        color: #0afce5;
        text-align: center;
    }
    .container_vertical3 {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        justify-content: space-around;
        border: 2px solid #8602c2;
    }
    .second {
        order: 1;
    }
    .first {
        order: 2;
    }
    .third {
        order: 3;
    }
    #legal_information {
        font-size: 12px;
    }
    #contacts {
        display: none;
    }
    .container_main {
        display: flex;
        flex-direction: column;
    }
    #contacts_for_smartphone {
        display: block;
    }
    #contacts_for_smartphone h3 {
        margin-bottom: 5px;
    }
    .double_brick {
        display: none;
    }
    .pad4 {
        justify-content: center;
        width: 200px;
        margin: 0 auto;
    }
    .pad5 {
        width: 200px;
        margin: 0 auto;
    }
    a {
        color: #c3fcf2;
    }
    .double_brick img,
    .single_brick img {
        width: 20px;
        height: auto;
    }
    .single_brick,
    .double_brick {
        width: 100%;
        margin: 5px;
        font-size: 14px;
    }
    .single_brick {
        justify-content: space-between;
        background-color: #ffd8cb14;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .options {
        margin-right: 0;
        margin-left: 0;
    }
    article {
        padding: 20px;
    }
    .hero .mobile-content {
        display: block;
    }
    .desktop-content .menu {
        display: none;
    }
    .hero h1 strong {
        font-size: 30px;
    }
    .hero .contacts {
        margin-bottom: 30px;
    }
    #photos .mySlides img,
    #photos_montage .mySlides img {
        width: 100% !important;
        height: auto;
    }
}    
/* from 768px to 1024px tablets*/
@media screen AND (min-width: 768px) {
    .container_vertical3 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin: auto;
        justify-content: space-around;
        border: 2px solid #8602c2;
    }
    #contacts {
        font-size: 18px;
    }
    .double_brick {
        font-size: 16px;
    }
    .single_brick {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    #contacts {
        display: block;
    }
    #contacts_for_smartphone {
        display: none;
    }
    #legal_information {
        font-size: 12px;
    }
    .pad2 {
        padding: 0px 30px;
    }
    .pad3 {
        padding: 0px 60px;
    }
    .pad4 {
        justify-content: center;
    }
    .pad5 {
        display: none;
    }
    .hero h1 {
    padding: 100px 30px 65px 30px;
    }
}
    
/*from 1024px and more computers*/
@media screen AND (min-width: 1024px) {
    .container_vertical3 {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 54%;
        align-content: center;
        border: 2px solid #8602c2;
    }
    #contacts_for_smartphone {
        display: none;
    }
    #legal_information {
        font-size: 14px;
        color: #1569c7;
    }
    .double_brick {
        font-size: 18px;
    }
    .single_brick {
        font-size: 18px;
    }
    .brick_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pad2 {
      padding: 0 100px;
    }
    .pad3 {
        padding: 0 200px;
    }
    .pad4 {
        justify-content: center;
    }
    .pad5 {
        display: none;
    }
    article {
        padding: 100px;
    }
    .hero h1 {
    padding: 100px 30px 65px 30px;
}
    .column_1 {
    height: 350px;
}
}
/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen AND (max-width: 1024px) {
    .column_1 {
        width: 100%;
    }
}



    
